.footer{
    background: #fff;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
}
.footer a{
    color: #1a1a1a;
    text-decoration: none;
    font-size: 0.8rem;
}
@media (min-width: 768px){
    .footer{
        flex-direction: row;
    }
}